/*
Theme Name: CommentPress NCFR Theme
Theme URI: http://www.futureofthebook.org/commentpress/
Description: <strong>A child of the CommentPress Responsive theme for CommentPress Core.</strong> Built for the NCFR History site.
Tags: commentpress, buddypress, groupblog, two-columns, sticky-post, threaded-comments, paragraph-comments
Version: 1.0
Template: commentpress-responsive
Author: Christian Wach
Author URI: http://www.haystack.co.uk
*/

/* deliberately empty: see 'functions.php' for how styles and scripts are enqueued */
